#page__title {
	padding-top: 3rem;
	padding-bottom: 2rem;
}
.page__title__text {
	font-size: 2.2rem;
	color: var(--black-1);
}
@media only screen and (min-width: 768px) {
	#page__title {
		padding-top: 5rem;
		padding-bottom: 3rem;
	}
	.page__title__text {
		font-size: 3.6rem;
	}
}
#major {
	padding: 0;
}
.major__title {
	font-size: 1.8rem;
	color: var(--black-1);
	margin-bottom: 2rem;
}
.major__wrapper {
	display: flex;
	gap: 1.5rem;
	flex-direction: column;
	max-width: 400px;
}
.major__item {
	flex: 1;
	display: flex;
	gap: 2rem;
	background-color: var(--lightBrown-1);
	padding: 1.5rem;
	border-radius: 12px;
}
.major__item__img,
.major__item__info {
	flex: 1;
}
.major__item__img {
	border-radius: 12px;
	overflow: hidden;
}
.major__item__img img {
	border-radius: 12px;
	object-fit: fill;
}
.major__item__title {
	font-size: 2.4rem;
	font-weight: 500;
	margin-bottom: 1rem;
	color: var(--black-1);
	line-height: 1.2em;
}
.major__item__price {
	font-size: 1.8rem;
	color: var(--brown-1);
	font-weight: 600;
	margin-bottom: 1rem;
}
.major__item__stars {
	width: max-content;
}
@media only screen and (min-width: 768px) {
	.major__title {
		font-size: 2.4rem;
	}
	.major__wrapper {
		flex-direction: row;
		gap: 2rem;
		max-width: none;
	}
	.major__item {
		padding: 3rem;
		gap: 2rem;
	}
	.major__item__title {
		font-size: 3rem;
		margin-bottom: 1.5rem;
	}
	.major__item__price {
		font-size: 2.4rem;
		margin-bottom: 1.5rem;
	}
}
@media only screen and (min-width: 1100px) {
	.major__item__img {
		flex: 4;
	}
	.major__item__info {
		flex: 3;
	}
}
#coffee {
	padding-bottom: 0;
}
#coffee:last-of-type {
	padding-bottom: 10rem;
}
.coin {
    width: 150px;
    perspective: 1000px;
    cursor: pointer;
}
.coin-image {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.coin:hover .coin-image {
    transform: rotateY(360deg);
}